<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>TicTacToe Game</title>
</head>
<body>
    <h1>TicTacToe Game</h1>
    <p th:text="${message}"></p>
    <table>
        <tr th:each="row, rowIdx : ${board.getBoard()}">
            <td th:each="cell, colIdx : ${row}">
                <form th:action="@{/play}" method="POST">
                    <input type="hidden" name="row" th:value="${rowIdx.index}"/>
                    <input type="hidden" name="col" th:value="${colIdx.index}"/>
                    <button type="submit" th:text="${cell}"></button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>